body{
    font-family: monospace;
}
#container{
    
    width: 50%;
    height: 50%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
}

/*
#display_result{
    width: 200px;
    height: 100px;
    background-color: antiquewhite;
}*/
